*   {
    margin:0px;
    padding: 0px;
}

/* ----------------modo oscuro---------------- */


 
/* //variables// */

.switch-modo-claro{
    --header: #cb9ca1;
    --letra: #ffffff;
    --aside-ocultar: #bf5f82;
    --medio: #ffc1e3;
}

.switch-modo-oscuro{
    --header: #4D5EA8;
    --letra: black;
    --aside-ocultar: #215b75;
    --medio: #464A5C;
   
}

/* Estableciendo propiedades a las pestañas */
.switch-modo-claro .button-claro,
.switch-modo-oscuro .button-nocturno{
  display: flex;
}

.switch-modo-claro .button-claro,
.switch-modo-oscuro     .button-nocturno{ 
  display: none;
}

.contenido  {
    display: flex;
    flex-direction: row;
}
.left   {
    width: 80%;
    background-color: var(--medio);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
}
header  {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #cb9ca1; */
    background-color: var(--header);
    width: 100%;
    height: 150px;
}
.title  {
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
    font-size: 30px;
    color: var(--letra);
}
.barra  {
    display: flex;
    flex-direction: row;
    
}
.imagen    {
    display: flex;
    flex-direction: row;
    margin: 10px;
    
}
/* .texto  {
    display: flex;
    flex-direction: row; 
    margin: 10px;
} */
.oscuro {
    display: flex;
    flex-direction: row; 
    margin: 10px;
}
a   {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

.middle     {
    display: flex;
    justify-content: center;
    
}

.text-image {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
    text-decoration: none;

}

.top    {
    height: 100px;
    width: 500px;
    background-color: white;
}
.bottom {
    height: 100px;
    width: 500px;
    background-color: white;
}
.centro {
/*     background-color: black; */
    height: 300px;
    width: 500px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-text    {
    display: flex;
    justify-content: center;
}



.boton-descarga {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-download {
    background-color: green;
}
.aside-ocultar   {
    width: 30%;
    /* background-color: #bf5f82; */
    background-color: var(--aside-ocultar);
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
}
.aside-title    {
    
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: var(--letra);
}

.mainimagen {
    background-color: #4D5EA8;
}
.forms  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: green;
    padding: 10px;
    width: 200px;
    margin-top: 30px;
}
.form-url{
    background-color: var (var(--section-image));
};


.url-input  {
    width: 100%;
}

.style-color    {
    margin-top: 30px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: column;

}
.fondo-container    {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: red; */
    
    
}
.fondo  {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: var(--letra);
}

.color-box  {
    padding: 10px;

}

.options    {
padding: 10px;
}

.filtros    {
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 20px;
}

.filtros-divs   {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 0px;
    width: 150px;
    height: 35px;
    background-color: darkgray;
    padding: 5px;
    border-radius: 40px;
    overflow: hidden;
    font-size: 15px;
}

.maintexto {
    background-color: red;
}


.ocultar {
    display: none;
}

#button-close   {
    width: 30px;
    height: 30px;
    display: flex;
}

.fa-times-circle {
    font-size: 25px;

}